<div class="container">
    <div class="recent-search-wrapper">
        <p class="recent-title">Recent Searches</p>

        <div class="recent-row">

            <div class="recent-box">
                <div class="recent-icon">
                    <i class="fas fa-history"></i>
                </div>
                <div class="recent-content">
                    <span>New York → Boston</span>
                    <small>Mon 6 April 2026</small>
                </div>
            </div>

            <div class="recent-box">
                <div class="recent-icon">
                    <i class="fas fa-history"></i>
                </div>
                <div class="recent-content">
                    <span>New York → Boston</span>
                    <small>Mon 6 April 2026</small>
                </div>
            </div>

            <div class="recent-box">
                <div class="recent-icon">
                    <i class="fas fa-history"></i>
                </div>
                <div class="recent-content">
                    <span>New York → Boston</span>
                    <small>Mon 6 April 2026</small>
                </div>
            </div>

            <div class="recent-box">
                <div class="recent-icon">
                    <i class="fas fa-history"></i>
                </div>
                <div class="recent-content">
                    <span>Bangalore → Chennai</span>
                    <small>Mon 8 April 2026</small>
                </div>
            </div>

            <div class="recent-box">
                <div class="recent-icon">
                    <i class="fas fa-history"></i>
                </div>
                <div class="recent-content">
                    <span>Kolkata → Bhubaneswar</span>
                    <small>Mon 9 April 2026</small>
                </div>
            </div>

        </div>
    </div>
</div>