<div class="container">

    <!-- HEADING (OUTSIDE CARD) -->
    <div class="bus-heading">
        <img src="assets/img/offer_mini_bus.png" alt="bus">
        <div>
            <h4>Book buses for festivals</h4>
            <p>Book now to get confirmed ticket</p>
        </div>
    </div>

    <!-- CARD BELOW -->
    <div class="bus-offer-card">

        <!-- LEFT CONTENT -->
        <div class="bus-offer-deal">
            <span>Get ₹100 off using code <b>FESTIVE</b></span>

            <div class="bus-months">
                <div class="month-box active">
                    <a href="#">
                        <strong>April</strong>
                        <small>Panasankranti</small>
                    </a>
                </div>

                <div class="month-box">
                    <a href="#">
                        <strong>April</strong>
                        <small>Buddha Purnima</small>
                    </a>
                </div>
            </div>
        </div>

        <!-- RIGHT SIDE -->
        <div class="bus-offer-right">
            <a href="#" class="book-btn">Book buses now</a>
        </div>

    </div>

</div>