<section class="why-section mt-4">

    <div class="container">

        <!-- HEADING -->
        <h2 class="why-title">Why Choose ODBUS ?</h2>
        <p class="why-sub">
            ODBUS Is The Odisha's First And Largest Online Bus Ticket Booking Service Provider
            Trusted By Over Lakhs Happy Customers And Thousands Of Bus Operator.
        </p>

        <!-- STATS BOX -->
        <div class="why-box">

            <!-- LEFT -->
            <div class="why-left">

                <!-- LEFT NUMBER -->
                <div class="rating-main">4.5</div>

                <!-- RIGHT SIDE -->
                <div class="rating-info">
                    <div class="stars">★★★★★</div>
                    <p>Google Review</p>
                </div>

            </div>

            <!-- RIGHT ITEMS -->
            <div class="why-item">
                <img src="assets/img/location_png.png" alt="Routes">
                <div>
                    <h3 class="count" data-target="3000">0</h3>
                    <p>Routes</p>
                </div>
            </div>

            <div class="why-item">
                <img src="assets/img/people_png.png" alt="Satisfied Customers">
                <div>
                    <h3><span class="count" data-target="10">0</span> Lakhs</h3>
                    <p>Satisfied Customers</p>
                </div>
            </div>

            <div class="why-item">
                <img src="assets/img/support_png.png" alt="Customer Service">
                <div>
                    <h3>24/7</h3>
                    <p>Customer Service</p>
                </div>
            </div>

        </div>

    </div>

</section>