<div *ngIf="isOfferVisible" class="top-offer-bar">
    <div class="offer-content">

        <!-- IMAGE / ICON -->
        <img src="assets/img/bus_offer.png" alt="app" class="offer-img" width="35px" height="25px">

        <!-- TEXT -->
        <span class="offer-text">
            Get 10% Discount <small>Use code APP10 on app</small>
        </span>

        <!-- BUTTON -->
        <button class="install-btn">
            Install App
        </button>

        <!-- CLOSE -->
        <button class="close-offer" (click)="closeOfferBar()">
            ✕
        </button>

    </div>
</div>